<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/common.css">
    <title>专题专栏</title>
</head>
<body>
<div class="background">
    <div id="bar" class="bar"></div>
    <div id="menu"></div>
    <div id="notices_board" class="notices_board">
        <div id="notices_board_bar"></div>
        <div class="list-item-more"></div>
    </div>
    <div id="cursor"></div>
    <div id="debug-message"></div>
</div>
</body>
<script type="application/javascript" src="../utility/assistant.js"></script>
<script type="application/javascript" src="../utility/async.js"></script>
<script type="application/javascript" src="../cms/cms.config.js"></script>
<script type="application/javascript" src="../cms/cms.api.js"></script>
<script type="application/javascript" src="../module/bar.module.js"></script>
<script type="application/javascript" src="../wrapper/bar.wrapper.js"></script>
<script type="application/javascript" src="../module/menu.module.js"></script>
<script type="application/javascript" src="../module/list.module.js"></script>
<script type="application/javascript" src="../module/cursor.module.js"></script>
<script type="application/javascript" src="../module/transfer.module.js"></script>
<script type="application/javascript">
    function MenuComponent() {
        MenuModule.call(this);

        this.menuPageArray = [{
            itemsPerLine: [2, 2],           // 每行所包含的元素数量
            menuItemArray: [
                {
                    left: 42,
                    top: 164,
                    width: 400,
                    height: 226,
                    bgImageSrc: 'url(../images/topic/1.png) no-repeat',
                    resourceId: cmsConfig.topicResourceIdArray[1].resourceId
                },
                {
                    left: 445,
                    top: 164,
                    width: 400,
                    height: 226,
                    bgImageSrc: 'url(../images/topic/2.png) no-repeat',
                    resourceId: cmsConfig.topicResourceIdArray[2].resourceId
                },
                {
                    left: 42,
                    top: 395,
                    width: 400,
                    height: 226,
                    bgImageSrc: 'url(../images/topic/3.png) no-repeat',
                    resourceId: cmsConfig.topicResourceIdArray[3].resourceId
                },
                {
                    left: 445,
                    top: 395,
                    width: 400,
                    height: 226,
                    bgImageSrc: 'url(../images/topic/4.png) no-repeat',
                    resourceId: cmsConfig.topicResourceIdArray[4].resourceId
                }
            ]
        }];
    }

    function ListComponent() {
        ListModule.call(this);

        // 属性
        this.focusPos = 0;
        this.boardLeft = 848;
        this.boardTop = 164;
        this.boardWidth = 369;
        this.boardHeight = 455;
        this.noticesBoardBarWidth = 369;
        this.noticesBoardBarHeight = 47;
        this.noticesBoardBarText = '专题专栏';
        this.itemLeft = 848;
        this.itemTop = 212;
        this.itemWidth = 369;
        this.itemHeight = 42;
        this.itemMoreLeft = 1058;
        this.itemMoreTop = 578;
        this.itemMoreWidth = 121;
        this.itemMoreHeight = 24;
        this.listItemNum = 8;
        this.resourceId = cmsConfig.topicResourceIdArray[5].resourceId;

        // 方法
    }

    function CursorComponent(bar, list, menu) {
        CursorModule.call(this);

        // 属性
        this.focusArea = 5;
        this.bar = bar;
        this.bar.focusPos = 6;
        this.list = list;
        this.menu = menu;
        this.fileName = 'PG-ONE';
    }

    function TransferComponent(cursor) {
        var that = this,
            postfix = '',
            params = [];

        TransferModule.call(this);
        // 属性
        this.cursor = cursor;

        // 方法
        this.moveX = function (direction) {
            this.cursor.focusOut();
            switch (this.cursor.focusArea) {
                case 0:         // 菜单
                    if (-1 === this.cursor.menu.moveX(direction)) {
                        if (direction > 0) {
                            this.cursor.focusArea = 2;
                        }
                    }
                    break;
                case 2:
                    this.cursor.focusArea = 0;
                    break;
                case 5:         // 栏目
                    this.remove('PG-ONE');
                    this.cursor.bar.moveX(direction);
                    break;
                default:
                    break;
            }
            this.cursor.focusOn();
        };

        this.moveY = function (direction) {
            this.cursor.focusOut();
            switch (this.cursor.focusArea) {
                case 0:         // 菜单
                    if (-1 === this.cursor.menu.moveY(direction)) {
                        this.cursor.focusArea = 5;
                    }
                    break;
                case 2:
                    if (-1 === this.cursor.list.moveY(direction)) {
                        this.cursor.focusArea = 5;
                    }
                    break;
                case 5:         // 栏目
                    this.cursor.focusArea = 0;
                    this.cursor.menu.focusPosX = 0;
                    this.cursor.menu.focusPosY = 0;
                    break;
                default:
                    break;
            }
            this.cursor.focusOn();
        };

        this.doBack = function () {
            this.remove(this.cursor.fileName);
            this.package([]);
            window.location.href = 'index.html' + this.package([]);
        };

        this.doSelect = function () {
            this.remove(this.cursor.fileName);

            switch (this.cursor.focusArea) {
                case 0:         // 菜单
                    var i,
                        _num = 0;

                    for (i = 0; i < this.cursor.menu.focusPosY; i++) {
                        _num += this.cursor.menu.itemsPerLine[i];
                    }
                    _num += this.cursor.menu.focusPosX;

                    params =
                        {
                            'PG-ONE': {
                                focusArea: this.cursor.focusArea,
                                focusPosX: this.cursor.menu.focusPosX,
                                focusPosY: this.cursor.menu.focusPosY
                            },
                            'VIDEO': {
                                backURL: this.backUrl(),
                                focusArea: this.cursor.focusArea,
                                resourceId: this.cursor.menu.menuItemArray[_num].resourceId
                            }
                        };
                    postfix = this.package(params);
                    window.location.href = 'video.html' + postfix;
                    break;
                case 2:         // 列表
                    params = {
                        'PG-ONE': {
                            focusArea: this.cursor.focusArea,
                            focusPos: this.cursor.list.focusPos
                        }
                    };
                    if (this.cursor.list.listItemTitleArray[this.cursor.list.focusPos].flag === 0) {
                        params.VIDEO = {
                            backURL: this.backUrl(),
                            fileName: this.cursor.fileName,
                            focusArea: this.cursor.focusArea,
                            focusPos: this.cursor.list.focusPos,
                            assertId: this.cursor.list.listItemTitleArray[this.cursor.list.focusPos].assetID
                        };
                        postfix = this.package(params);
                        window.location.href = 'video.html' + postfix;
                    } else {
                        params.PG_MORE = {
                            resourceId: cmsConfig.apartmentResourceIdArray[1].resourceId,
                            resourceType: 'video',
                            backURL: 'topic.html',
                            logoImageSrc: '',
                            pageIndex: 1
                        };
                        postfix = this.package(params);
                        window.location.href = 'more.html' + postfix;
                    }
                    break;
                default:
                    break;
            }
        };

        this.onKeyDown = function (event) {
            var code = getKeyCode(event);

            switch (code) {
                case 'KEY_NUMBER1':
                    that.toggle();
                    return false;
                case 'KEY_UP':
                    that.moveY(-1);
                    return false;
                case 'KEY_DOWN':
                    that.moveY(1);
                    return false;
                case 'KEY_LEFT':
                    that.moveX(-1);
                    return false;
                case 'KEY_RIGHT':
                    that.moveX(1);
                    return false;
                case 'KEY_SELECT':
                    that.doSelect();
                    return false;
                case 'KEY_EXIT':
                case 'KEY_BACK':
                    that.doBack();
                    return false;
                default:
                    break;
            }
        };
    }

    window.onload = function () {
        var
            barComponent = new BarComponent(),
            menuComponent = new MenuComponent(),
            listComponent = new ListComponent(),
            cursorComponent = new CursorComponent(barComponent, listComponent, menuComponent),
            transferComponent = new TransferComponent(cursorComponent);

        document.onkeydown = transferComponent.onKeyDown;

        transferComponent.init();
        barComponent.init();
        menuComponent.init();
        listComponent.init(function () {
            cursorComponent.focusOn();
        });
    };
</script>
</html>